<!doctype html>
<html>
<head>
    <title>Add a Student</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <h1>Add a Student</h1>
    <form method="post">
       


        <input name="student_name" placeholder="name">
        <input name="student_year" placeholder="year">
        <input name="finished_lab" type="radio" value="True">finished lab>
        <input name="finished_lab" type="radio" value="False"> didnt finished lab>
        <input type="submit" value="submit">



    </form>
</body>
</html>
